body{
    background-color: #494949;
    color: #cd8317;
}
div{
    background-color: #3a3a3a;
}
.inLog{
    float: left;
    margin-left: 40%;
    margin-top: 5%;
    background-color: #3a3a3a;
    padding: 20px 10px 20px 10px;
}
.leftBlock{
    float: left;
    width: 20%;
    text-align: center;
    height: 100%;
}
.centerBlock{
    margin: 0 21% 0 21%;
}
.rightBlock{
    text-align: center;
    float: right;
    width: 20%;
}
.mailHistory{
    padding: 10px 10px 10px 10px;
    height: 50%;
    overflow-y: scroll;
    border-bottom-style: solid;
}
.mailInput{
    padding: 10px 10px 10px 10px;
}
.mail{
    margin-top: 50%;
    border-style: ridge;
    border-width: 1px;
    padding: 5px 5px 5px 5px;
}
header{
    text-align: right;
}
textarea{
    width: 98%;
}
img{
    margin: 10px 10px 10px 10px;
}
a{
    color: red;
    text-decoration: none;
}
.circle{
    float: left;
    width: 40px;
    height: 40px;
    background: #cc0000;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}